---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("homepage", "index");
const { banner, workflow, call_to_action } = homepage.data;

export const faqs = [
  {
    title: "1. Erhöhte Kundenzufriedenheit durch Benutzerfreundlichkeit",
    answer:
      "Die Möglichkeit, Fotos über eine App oder Online-Plattform hochzuladen, wird von den Versicherten als zeitsparend und einfach wahrgenommen. Viele Krankenkasse bieten solche Services bereits erfolgreich an, was zeigt, dass Versicherte bevorzugt auf digitale Lösungen zurückgreifen. Solche modernen Prozesse heben die Krankenkasse positiv hervor und stärken die Kundenbindung",
  },
  {
    title: "2. Effizienzsteigerung und Kostensenkung",
    answer:
      "Digitale Prozesse eliminieren den Aufwand für den Druck, Versand und die Bearbeitung von Lichtbildbögen. Dies führt zu einer direkten Kostensenkung und einer schnelleren Bearbeitungszeit, wodurch Ressourcen effizienter genutzt werden können",
  },
  {
    title: "3. Nachhaltigkeit als Markenzeichen",
    answer:
      "Papierlose Lösungen reduzieren den Verbrauch von Papier und anderen Ressourcen, was den ökologischen Fußabdruck verringert. Nachhaltigkeit ist ein immer wichtigeres Kriterium für Versicherte bei der Wahl ihrer Krankenkasse.",
  },
  {
    title: "4. Positionierung als moderne Krankenkasse",
    answer:
      "Die Bereitstellung digitaler Services wie einem Lichtbild-Upload via App oder Online-Plattform signalisiert Innovationsfähigkeit und die Bereitschaft, in zukunftsorientierte Technologien zu investieren. Dies stärkt das Image der Krankenkasse als innovativer Anbieter in einem zunehmend digitalen Gesundheitswesen.",
  },
  {
    title: "5. Datensicherheit und Vertrauen",
    answer:
      "Ein digitaler Einreichungsprozess bietet durch verschlüsselte Übertragungswege und strenge Datenschutzmaßnahmen eine hohe Sicherheit für persönliche Daten, was das Vertrauen der Versicherten erhöht.",
  },
];
---

<Base>
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="text-center row">
        <div class="mx-auto lg:col-10">
          <h1 class="font-bold font-primary">{banner?.title}</h1>
          {
            banner?.content && (
              <p class="mt-4" set:html={markdownify(banner.content)} />
            )
          }

          {
            banner?.button?.enable && (
              <a class="mt-4 btn btn-primary" href={banner.button.link}>
                {banner.button.label}
              </a>
            )
          }

          {
            banner?.image && (
              <>
                <iframe
                  id="theIFrame"
                  src={"https://demo-wpe-staging.eportrait.de/"}
                  title="ePortrait eLichtbild eingebettet in Demo Website"
                  loading="lazy"
                  style="margin: 0px auto"
                  width="100%"
                  height="727"
                  frameborder="0"
                />

                <span>
                  Disclaimer: Dies ist ein Demo-Beispiel, ihre Daten werden
                  innerhalb 24h gelöscht.
                </span>
              </>
            )
          }
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="font-normal text-center">Gute Gründe für Digital</h1>
      <p class="mt-4 text-center max-w-prose mx-auto">
        Die Digitalisierung der Lichtbildeinreichung bietet daher nicht nur
        wirtschaftliche und ökologische Vorteile, sondern trägt auch zur
        Steigerung der Effizienz und Kundenzufriedenheit bei. Ein Wechsel hin zu
        digitalen Prozessen ist ein notwendiger Schritt in Richtung einer
        modernen und nachhaltigen Krankenkassenverwaltung.
      </p>
      <div class="section row">
        {
          faqs?.map((faq) => (
            <div class="mt-6 col-12 md:col-6">
              <div class="p-12 shadow">
                <div class="relative faq-head">
                  <h4 set:html={markdownify(faq.title)} />
                </div>
                <p class="mt-4 faq-body" set:html={markdownify(faq.answer)} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <!-- Workflow -->
  <section class="pb-0 section">
    <div class="mb-8 text-center">
      <h2
        class="mx-auto max-w-[400px] font-bold leading-[44px]"
        set:html={workflow?.title}
      />
      <p class="mt-3" set:html={workflow?.description} />
    </div>
    <Image
      src={workflow!.image}
      alt="workflow image"
      width={1920}
      height={414}
      title={"workflow image"}
    />
  </section>

  <!-- Call to Action -->
  <Cta cta={call_to_action} />
</Base>
